<h2> Book -List</h2>
<div class="flex-container">
    <div *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>
    </div>
</div>

<div>
    current page: {{responseData?.pageNumber}}
    total pages: {{responseData?.totalPages}}
    total records: {{responseData?.totalRecords}}
</div>
<button class="btn btn-primary" type="button" (click)="next()"
    [disabled]="responseData.pageNumber>=responseData.totalPages"> Next </button>

<button class="btn btn-primary" type="button" (click)="prev()"> Prev </button>
<a [routerLink]="['book']" [queryParams]="{ pageNumber:2 }">Page 2</a>