<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" routerLink="/books" routerLinkActive="active">Books</a>
    <a class="nav-item nav-link" routerLink="/books/list" routerLinkActive="active">Books List</a>
    <a class="nav-item nav-link" routerLink="/books/add" routerLinkActive="active">Add Book</a>
    <a class="nav-item nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
  </div>
</nav>

<router-outlet></router-outlet>